{% extends "layout.html" %}
{% block content %}
    <div class="form-group dynamic-element" style="display:none">
        <div class="row">
            <div class="col-md"></div>
            <!-- Replace these fields -->
            <div class="form-group form-inline">
                <label class="form-control-label" for="ingredient_name">Ingredient</label>
                <div class="col-md"></div>
                {{ form.ingredient_name(class="form-control") }}
                <div class="col-md"></div>
                <label class="form-control-label" for="ingredient_amount">Amount</label>
                <div class="col-md"></div>
                {% if form.ingredient_amount.errors %}
                    {{ form.ingredient_amount(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.ingredient_amount.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.ingredient_amount(class="form-control") }}
                {% endif %}
            </div>
            <!-- End of fields-->
            <div class="col-md-auto">
                <p class="delete" onclick="console.log('click'); $(this).closest('.row').remove();">x</p>
            </div>
            <div class="col-md"></div>
        </div>
    </div>

    <div class="content-section">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.time.label(class="form-control-label") }}
                        {% if form.time.errors %}
                            {{ form.time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.time(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                <div class="form-group">
                    {{ form.text.label(class="form-control-label") }}
                    {% if form.text.errors %}
                        {{ form.text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.text.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.text(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                                <p class="add-one" onclick="$('.dynamic-element').first().clone().appendTo('.dynamic-stuff').show();">Add Ingredient</p>
                        </div>
                        <div class="col"></div>
                </div>
                <div class="dynamic-stuff">
                {% for ingredient in ingredients %}
                    <div class="row">
                        <div class="col-md"></div>
                        <div class="form-group form-inline">
                            <label class="form-control-label" for="ingredient_name">Ingredient</label>
                            <div class="col-md"></div>
                            <input class="form-control" id="ingredient_name" name="ingredient_name" type="text" value="{{ ingredient.name }}">
                            <div class="col-md"></div>
                            <label class="form-control-label" for="ingredient_amount">Amount</label>
                            <div class="col-md"></div>
                            <input class="form-control" id="ingredient_amount" name="ingredient_amount" type="text" value="{{ ingredient.amount }}">
                        </div>
                        <div class="col-md-auto">
                            <p class="delete inactive" onclick="console.log('click'); $(this).closest('.row').remove();">x</p>
                        </div>
                        <div class="col-md"></div>
                    </div>
                    {% endfor %}
                <!-- Dynamic element will be cloned here -->
                <!-- You can call clone function once if you want it to show it a first element-->
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}