{% extends "layout.html" %}
{% block content %}
    <a class="btn btn-primary btn-lg mt-1 mb-1" href="#scraperModal" data-toggle="modal" data-target="#scraperModal">Import recipe</a>
    <a class="btn btn-primary btn-lg mt-1 mb-1" href="{{ url_for('recipes.new_recipe') }}">New Recipe</a>
    {% for recipe in recipe_list.items %}
        <article class="content-section">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+ recipe.author.image_file) }}">
                <a class="mr-2" href="{{ url_for('users.user_recipes', username=recipe.author.username) }}">{{ recipe.author.username }}</a>
                <small class="text-muted">{{ recipe.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
            </div>
            <p class="lead">
                {% if current_user in recipe.fans %}
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ url_for('recipes.shop_recipe', recipe_id=recipe.id) }}">Remove from shopping list</a>
                {% else %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('recipes.shop_recipe', recipe_id=recipe.id) }}">Add to shopping list</a>
                {% endif %} 
                <br><a class="article-title" href="{{ url_for('recipes.recipe', recipe_id=recipe.id) }}"">{{ recipe.title }}</a>      
            </p>
            <small class="text-muted">Składniki: {{recipe.ingredients|length}} | Czas: {{ recipe.time }}</small>
        </article>
    {% endfor %}
    {% for page_num in recipe_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if recipe_list.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

{% endblock content %}