{% extends "layout.html" %}
{% block content %}
    {% for recipe in recipe_list %}
        <h1>{{ recipe.name }}</h1>
        <h5>Składniki:</h5>
        <ul>
            {% for ingr in recipe.ingredients %}
                <li>{{ ingr.name }}{% if ingr.amount %}: {{ ingr.amount }} {{ ingr.unit }}{% endif %}</li>
            {% endfor %}
        </ul>
        <h5>Czas:</h5>
        <p>{{ recipe.time }}</p>
        <h5>Przepis:</h5>
        <p>
            {{ recipe.recipe }}
        </p>
    {% endfor %}
{% endblock content %}