{% extends "layout.html" %}
{% block content %}
    {% for recipe in recipe_list %}
        <article class="content-section">
            <p class="lead">{{ recipe.title }}</p>
            <p>Składniki:
                <ul class="list">
                    {% for ingr in recipe.ingredients %}
                        <li>{{ ingr.name }}{% if ingr.amount %}: {{ ingr.amount }} {{ ingr.unit }}{% endif %}</li>
                    {% endfor %}
                </ul>
            </p>
            <p>Czas: {{ recipe.time }}</p>
            <p>Przepis:
                {{ recipe.text }}
            </p>
        </article>
    {% endfor %}
{% endblock content %}