{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Recipes by {{user.username}} ({{ recipe_list.total}})</h1>
    {% for recipe in recipe_list.items %}
        <article class="content-section">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+ recipe.author.image_file) }}">
                <a class="mr-2" href="{{ url_for('users.user_recipes', username=recipe.author.username) }}">{{ recipe.author.username }}</a>
                <small class="text-muted">{{ recipe.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
            </div>
            <p class="lead"><a class="article-title" href="{{ url_for('recipes.recipe', recipe_id=recipe.id) }}"">{{ recipe.title }}</a></p>
            <p>Składniki:
                <ul class="list">
                    {% for ingr in recipe.ingredients %}
                        <li>{{ ingr.name }}{% if ingr.amount %}: {{ ingr.amount }} {{ ingr.unit }}{% endif %}</li>
                    {% endfor %}
                </ul>
            </p>
            <p>Czas: {{ recipe.time }}</p>
            <p>Przepis:
                {{ recipe.text }}
            </p>
        </article>
    {% endfor %}
    {% for page_num in recipe_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if recipe_list.page == page_num %}
                <a class="btn btn-primary mb-4" href="{{ url_for('users.user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-primary mb-4" href="{{ url_for('users.user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}